@using AdventOne.Models
@model AdventOne.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevenueType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevenueType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.Raw(Model.InvoiceDate.ToString("dd/MM/yyyy"))
        </dd>
    </dl>

    @if (Model.RevenueType == RevenueType.COS || Model.RevenueType == RevenueType.REV) {
        <h4>Product Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductQuantity)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProductUnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductUnitPrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProductExtendedPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductExtendedPrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Supplier)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Supplier.SupplierName)
            </dd>
        </dl>
    }

    @if (Model.RevenueType == RevenueType.SVC) {
        <h4>Services Details</h4>
        <hr />
        <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServicesQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicesQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServicesExtendedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicesExtendedPrice)
        </dd>
        </dl>
        }

    <h4>Task Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.FullText, new { id = "mce", @class = "form-control" })
        </dd>
    </dl>
    
</div>
<p>
    @Html.ActionLink(" ", "Edit", "Task", new { id = Model.ID }, new { @class = "fa fa-edit fa-10x", @style = "text-decoration:none;" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })&nbsp;&nbsp;|&nbsp;
    <a href="@ViewBag.ReturnURL">
        <i class="fa fa-caret-square-o-left"></i>
    </a>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = ViewBag.ReturnURL })
    &nbsp;|&nbsp;
    <a href="javascript:void(0);" class="anchorDetail" data-id="@Model.ID">
        <i class="fa fa-copy"></i>
    </a>
    <a href="javascript:void(0);" class="anchorDetail" data-id="@Model.ID">Duplicate</a>

</p>
@Scripts.Render("~/bundles/mce_readonly_scripts")

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

@section scripts
    {
    <script>
        var TeamDetailPostBackURL = '/Task/Duplicate';
        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        debugger;
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

    </script>

}
