@model IEnumerable<AdventOne.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RevenueType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var task in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => task.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.RevenueType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = task.ID }) |
                @Html.ActionLink("Details", "Details", new { id = task.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = task.ID })
            </td>
        </tr>
    }

</table>
