@using AdventOne.Models
@model Project

<h3>
    @Html.DisplayNameFor(model => model.Invoices)
</h3>
<dd>
    <table class="table" width="100%">
        <tr>
            <th>Invoice Number</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Invoice Date</th>
            <th>Due Date</th>
            <th>Expected Payment</th>
            <th></th>
        </tr>
        @foreach (var invoice in Model.Invoices) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => invoice.InvoiceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => invoice.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => invoice.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => invoice.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => invoice.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => invoice.ExpectedPaymentDate)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", "Invoice", new { id = invoice.ID }, new { @class = "fa fa-edit", @style = "text-decoration:none;" })
            @Html.ActionLink(" ", "Details", "Invoice", new { id = invoice.ID }, new { @class = "fa fa-search-plus", @style = "text-decoration:none;" })
            @Html.ActionLink(" ", "Delete", "Invoice", new { id = invoice.ID }, new { @class = "fa fa-trash", @style = "text-decoration:none;" })
        </td>
    </tr>
        }
    </table>
    @Html.ActionLink(" ", "Create", "Invoice", new { projectId = Model.ID }, new { @class = "fa fa-plus-square", @style = "text-decoration:none;" })
    @Html.ActionLink("Create", "Create", "Invoice", new { projectId = Model.ID }, null)

</dd>
