@model AdventOne.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Revenue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Margin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Margin)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink(" ", "Edit", "Project", new { id = Model.ID }, new { @class = "fa fa-edit", @style = "text-decoration:none;" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="@ViewBag.ReturnURL">
        <i class="fa fa-caret-square-o-left"></i>
    </a>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = ViewBag.ReturnURL })

</p>

<br />
<h3>
    @Html.DisplayNameFor(model => model.Tasks)
</h3>
<dd>
    <table class="table" width="100%">
        <tr>
            <th>Description</th>
        </tr>
        @for (int i = 0; i < Model.Tasks.Count(); i++) {
            var task = Model.Tasks.ToList()[i];
    <tr>
        <td>
            @Html.DisplayFor(modelItem => task.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => task.RevenueType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => task.Price)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", "Task", new { id = task.ID }, new { @class = "fa fa-edit fa-10x", @style = "text-decoration:none;" })
            @Html.ActionLink(" ", "Details", "Task", new { id = task.ID }, new { @class = "fa fa-search-plus", @style = "text-decoration:none;" })
            @Html.ActionLink(" ", "Delete", "Task", new { id = task.ID }, new { @class = "fa fa-trash", @style = "text-decoration:none;" })
            &nbsp;|&nbsp;
            @if (i > 0) {
                @Html.ActionLink(" ", "MoveUp", "Task", new { projectId = Model.ID, taskId = task.ID }, new { @class = "fa fa-arrow-circle-up fa-10x", @style = "text-decoration:none;" })
            }
            else {
                @:&nbsp;&nbsp;&nbsp;
            }
            @if (i < Model.Tasks.Count() - 1) {
                @Html.ActionLink(" ", "MoveDown", "Task", new { projectId = Model.ID, taskId = task.ID }, new { @class = "fa fa-arrow-circle-down fa-10x", @style = "text-decoration:none;" })
            }
        </td>
    </tr>
            }
        </table>
    @Html.ActionLink(" ", "Create", "Task", new { projectId = Model.ID }, new { @class = "fa fa-plus-square", @style = "text-decoration:none;" })
    @Html.ActionLink("Create", "Create", "Task", new { projectId = Model.ID }, null)

</dd>

<br />

<h3>
    @Html.DisplayNameFor(model => model.Attachments)
</h3>
<dd>
    <table class="table" width="100%">
        <tr>
            <th>Description</th>
            <th>File Type</th>
            <th></th>
        </tr>
        @foreach (var attachment in Model.Attachments) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => attachment.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => attachment.FileType)
                </td>
                <td>
                    @Html.ActionLink(" ", "Download", "Attachment", new { id = attachment.ID }, new { @class = "fa fa-download", @style = "text-decoration:none;" })
                    @Html.ActionLink(" ", "Details", "Attachment", new { id = attachment.ID }, new { @class = "fa fa-search-plus", @style = "text-decoration:none;" })
                    @Html.ActionLink(" ", "Delete", "Attachment", new { id = attachment.ID }, new { @class = "fa fa-trash", @style = "text-decoration:none;" })
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink(" ", "Create", "Attachment", new { projectId = Model.ID }, new { @class = "fa fa-plus-square", @style = "text-decoration:none;" })
    @Html.ActionLink("Create", "Create", "Attachment", new { projectId = Model.ID }, null)

    @Html.ActionLink(" ", "RenderPDF", "Project", new { id = Model.ID }, new { @class = "fa fa-sticky-note", @style = "text-decoration:none;" })
    @Html.ActionLink("Generate Quote", "RenderPDF", "Project", new { id = Model.ID }, null)

</dd>


