@using AdventOne.Models  
@model AdventOne.Models.Project

@{
    ViewBag.Title = "Details";
}

@Html.Hidden("ProjectId", Model.ID)
@Html.Hidden("ActiveTab", (object)ViewBag.ActiveTab)
<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <table width="100%">
        <tr valign="top">
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Employee)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Employee.EmployeeName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Customer.CustomerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Customer.CustomerName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProjectName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.InvoiceDate)
                    </dt>
                    <dd>
                        @Html.Raw(Model.InvoiceDate.ToString("dd/MM/yyyy"))
                    </dd>
                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SalesStage)
                    </dt>
                    <dd>
                        @Html.Raw(EnumHelpers.GetEnumDisplayName(Model.SalesStage))
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ProjectStatus)
                    </dt>
                    <dd>
                        @Html.Raw(EnumHelpers.GetEnumDisplayName(Model.ProjectStatus))
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Division)
                    </dt>
                    <dd>
                        @Html.Raw(EnumHelpers.GetEnumDisplayName(Model.Division))
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>
                    <dd>
                        @Html.Raw(EnumHelpers.GetEnumDisplayName(Model.Location))
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Branch)
                    </dt>
                    <dd>
                        @Html.Raw(EnumHelpers.GetEnumDisplayName(Model.Branch))
                    </dd>

                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Revenue)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Revenue)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.COS)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.COS)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Margin)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Margin)
                    </dd>

                </dl>
            </td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink(" ", "Edit", "Project", new { id = Model.ID }, new { @class = "fa fa-edit", @style = "text-decoration:none;" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })&nbsp;&nbsp;|&nbsp;
    <a href="@ViewBag.ReturnURL">
        <i class="fa fa-caret-square-o-left"></i>
    </a>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = ViewBag.ReturnURL })

</p>

<br />

<div class="container">
    <ul class="nav nav-tabs">
        <li id="tab0"><a data-toggle="tab" class="nav_link" data_id="0" href="#menu0">Tasks</a></li>
        <li id="tab1"><a data-toggle="tab" class="nav_link" data_id="1" href="#menu1">Attachments</a></li>
        <li id="tab2"><a data-toggle="tab" class="nav_link" data_id="2" href="#menu2">Work Orders</a></li>
        <li id="tab3"><a data-toggle="tab" class="nav_link" data_id="3" href="#menu3">Invoices</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu0" class="tab-pane fade">
            <div id="ProductsDiv0">
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div id="ProductsDiv1">
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div id="ProductsDiv2">
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div id="ProductsDiv3">
            </div>
        </div>
    </div>
</div>

