@model AdventOne.Models.Employee

@{
    ViewBag.Title = "Details";
}

@Html.Hidden("ActiveTab", (object)ViewBag.ActiveTab)
@Html.Hidden("EmployeeId", Model.ID)

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <table>
                @{
                    List<AdventOne.Models.View.AssignedPermissionData> permissions = ViewBag.Permissions;

                    foreach (var permission in permissions) {
                        <tr>
                            <td>
                                <input type="checkbox" onclick="return false;"
                                       name="selectedPermissions"
                                       value="@permission.PermissionID"
                                       @(Html.Raw(permission.Assigned ? "checked=\"checked\"" : "")) />
                                &nbsp;&nbsp; @permission.PermissionName
                            </td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>
</div>
&nbsp;
<br />
<p>
    @Html.ActionLink(" ", "Edit", "Employee", new { id = Model.ID }, new { @class = "fa fa-edit fa-10x", @style = "text-decoration:none;" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
&nbsp;|&nbsp;
    <a href="@ViewBag.ReturnURL">
        <i class="fa fa-caret-square-o-left"></i>
    </a>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = ViewBag.ReturnURL })
</p>
<br/>
<div class="container">
    <ul class="nav nav-tabs">
        <li id="tab0"><a data-toggle="tab" class="nav_link" data_id="0" href="#menu0">Customers</a></li>
        <li id="tab1"><a data-toggle="tab" class="nav_link" data_id="1" href="#menu1">Projects</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu0" class="tab-pane fade">
            <div id="ProductsDiv0">
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div id="ProductsDiv1">
            </div>
        </div>
    </div>
</div>