@model AdventOne.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <table>
                @{
                    List<AdventOne.Models.View.AssignedPermissionData> permissions = ViewBag.Permissions;

                    foreach (var permission in permissions) {
                        <tr>
                            <td>
                                <input type="checkbox" onclick="return false;"
                                       name="selectedPermissions"
                                       value="@permission.PermissionID"
                                       @(Html.Raw(permission.Assigned ? "checked=\"checked\"" : "")) />
                                &nbsp;&nbsp; @permission.PermissionName
                            </td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink(" ", "Edit", "Employee", new { id = Model.ID }, new { @class = "fa fa-edit fa-10x", @style = "text-decoration:none;" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
</p>
<dd>
    <table class="table">
        <tr>
            <th>Customers</th>
        </tr>
        @foreach (var item in Model.Customers) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Customer", new { id = item.ID }, null) |
                    @Html.ActionLink("Details", "Details", "Customer", new { id = item.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", "Customer", new { id = item.ID }, null)
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink(" ", "Create", "Customer", new { EmployeeID = Model.ID }, new { @class = "fa fa-plus-square", @style = "text-decoration:none;" })
    @Html.ActionLink("Create", "Create", "Customer", new { }, null)
</dd>


<dd>
    <table class="table">
        <tr>
            <th>Projects</th>
        </tr>
        @foreach (var item in Model.Projects) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Project", new { id = item.ID }, null) |
                    @Html.ActionLink("Details", "Details", "Project", new { id = item.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", "Project", new { id = item.ID }, null)
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink(" ", "Create", "Project", new { EmployeeID = Model.ID }, new { @class = "fa fa-plus-square", @style = "text-decoration:none;" })
    @Html.ActionLink("Create", "Create", "Project", new { EmployeeID = Model.ID }, null)
</dd>
<br/>
<p>
    <a href="@ViewBag.ReturnURL">
        <i class="fa fa-caret-square-o-left"></i>
    </a>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = ViewBag.ReturnURL })
</p>
