@model AdventOne.Models.InvoiceNote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceNote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invoice.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalExpectedPaymentDate)
        </dt>

        <dd>
            @Html.Raw(Model.OriginalExpectedPaymentDate.ToString("dd/MM/yyyy"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedExpectedPaymentDate)
        </dt>

        <dd>
            @Html.Raw(Model.RevisedExpectedPaymentDate.ToString("dd/MM/yyyy"))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", "InvoiceNote", new { id = Model.ID }, new { @class = "fa fa-edit", @style = "text-decoration:none;" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })&nbsp;&nbsp;|&nbsp;
    <a href="@ViewBag.ReturnURL">
        <i class="fa fa-caret-square-o-left"></i>
    </a>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = ViewBag.ReturnURL })

</p>