@using AdventOne.Authorization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Advent One</title>
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/c3.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/d3.js")
    @Scripts.Render("~/Scripts/c3.js")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) |

                @if (User.Identity.IsAuthenticated) {
                    if (CustomAuthorization.IsInRole("Admin")) {

                        @Html.ActionLink("Employees", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand" });
                        @:|
                    }
                }

                @Html.ActionLink("Customers", "Index", "Customer", new { area = "" }, new { @class = "navbar-brand" }) |
                @Html.ActionLink("Projects", "Index", "Project", new { area = "" }, new { @class = "navbar-brand" }) |

                @if (User.Identity.IsAuthenticated) {
                    if (CustomAuthorization.IsInRole("Admin")) {

                        @Html.ActionLink("Invoices", "Index", "Invoice", new { area = "" }, new { @class = "navbar-brand" })
                        @:|
                    }
                }
                @Html.ActionLink("InvTests", "Index", "InvTest", new { area = "" }, new { @class = "navbar-brand" }) |

                @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Advent One Pty Ltd</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/menu.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("scripts", required: false)


</body>
</html>
