@model AdventOne.Models.Invoice

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Invoice</h4>
    <hr />

    @if (ViewBag.projectId != null) {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectID, "ProjectID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectID, "ProjectID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Raw(ViewBag.Project.ProjectName)
                @Html.Hidden("ProjectId", (object)ViewBag.Project.ID)
            </div>
        </div>
    }


    <div class="form-group">
        @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.InvoiceDate,
               new {
                        htmlAttributes = new {
                 @Value = DateTime.Now.ToString("dd/MM/yyyy"),
                 @class = "form-control"
                        },
                    })
            @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DueDate,
               new {
                        htmlAttributes = new {
                 @Value = DateTime.Now.ToString("dd/MM/yyyy"),
                 @class = "form-control"
                        },
                    })
            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ExpectedPaymentDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ExpectedPaymentDate,
               new {
                        htmlAttributes = new {
                 @Value = DateTime.Now.ToString("dd/MM/yyyy"),
                 @class = "form-control"
                        },
                    })
            @Html.ValidationMessageFor(model => model.ExpectedPaymentDate, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

</div>
}

<div>
    <p>
        <a href="@ViewBag.ReturnURL">
            <i class="fa fa-caret-square-o-left"></i>
        </a>
        @Html.ActionLink("Back to previous page", null, null, null, new { href = ViewBag.ReturnURL })
    </p>
</div>

@section scripts {

    <script type="text/javascript">

  $(function () {

    $('#InvoiceDate').datetimepicker({
      format: 'DD/MM/YYYY',
      showClose: true,
      showClear: true,
      showTodayButton: true,
      toolbarPlacement: 'top'
    });

    $('#DueDate').datetimepicker({
      format: 'DD/MM/YYYY',
      showClose: true,
      showClear: true,
      showTodayButton: true,
      toolbarPlacement: 'top'
    });


    $('#ExpectedPaymentDate').datetimepicker({
      format: 'DD/MM/YYYY',
      showClose: true,
      showClear: true,
      showTodayButton: true,
      toolbarPlacement: 'top',
      stepping: 15
    });

  });

    </script>

}
