@model AdventOne.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.Raw(Model.InvoiceDate.ToString("dd/MM/yyyy"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.Raw(Model.DueDate.ToString("dd/MM/yyyy"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedPaymentDate)
        </dt>

        <dd>
            @Html.Raw(Model.ExpectedPaymentDate.ToString("dd/MM/yyyy"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysOverdue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysOverdue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", "Invoice", new { id = Model.ID }, new { @class = "fa fa-edit", @style = "text-decoration:none;" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })&nbsp;&nbsp;|&nbsp;
    <a href="@ViewBag.ReturnURL">
        <i class="fa fa-caret-square-o-left"></i>
    </a>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = ViewBag.ReturnURL })

</p>


<h3>
    @Html.DisplayNameFor(model => model.InvoiceNotes)
</h3>
<dd>
    <table class="table" width="100%">
        <tr>
            <th>Note</th>
            <th>Created Date</th>
            <th>Original Payment</th>
            <th>Revised Payment</th>
            <th></th>
        </tr>
        @foreach (var invoiceNote in Model.InvoiceNotes) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => invoiceNote.Notes)
                </td>
                <td>
                    @Html.Raw(invoiceNote.CreatedDate.ToString("dd/MM/yyyy"))
                </td>
                <td>
                    @Html.Raw(invoiceNote.OriginalExpectedPaymentDate.ToString("dd/MM/yyyy"))
                </td>
                <td>
                    @Html.Raw(invoiceNote.RevisedExpectedPaymentDate.ToString("dd/MM/yyyy"))
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", "InvoiceNote", new { id = invoiceNote.ID }, new { @class = "fa fa-edit", @style = "text-decoration:none;" })
                    @Html.ActionLink(" ", "Details", "InvoiceNote", new { id = invoiceNote.ID }, new { @class = "fa fa-search-plus", @style = "text-decoration:none;" })
                    @Html.ActionLink(" ", "Delete", "InvoiceNote", new { id = invoiceNote.ID }, new { @class = "fa fa-trash", @style = "text-decoration:none;" })
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink(" ", "Create", "InvoiceNote", new { invoiceId = Model.ID }, new { @class = "fa fa-plus-square", @style = "text-decoration:none;" })
    @Html.ActionLink("Create", "Create", "InvoiceNote", new { invoiceId = Model.ID }, null)

</dd>
